body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    background: #ececec
}

.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.demos-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.demos-header {
    padding: 35px 0;
}

.demos-content-padded {
    padding: 15px;
}

.demos-second-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

footer a {
    color: #999;
    text-decoration: none;
}

.outPadding {
    margin: 20px;
    border: 2px solid #111;
    min-height: 500px;
}

#tab1,
#tab2,
#tab3 {
    text-align: center;
}

input[type='text'],
input[type='search'],
input[type='button'] {
    background: none;
    border-radius: 20px;
    border: 1px solid #ddd;
    line-height: 20px;
    padding: 0 10px;
    -webkit-appearance: none;
}
p {
    font-size: 14px;
    margin-top: 5px;
}
span {
    font-size: 14px;
}
.fa {
    font-size: 24px;
}
#Layer_1 {
    fill: #888;
}
.weui_bar_item_on #Layer_1 {
    fill: #16a3e2;
}
.weui_tab {
    text-align: center;
}
label {
    margin: 0;
    font-weight: normal;
}
.agreement {
    display: none;
}
.btn-primary {
    background: #1689bb;
    border: none;
}
.btn-primary:active, .btn-primary:hover {
    background: #1689bb;
    border: none;
}