<form name="form" class="normalShow">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div ng-show="phone == '' || phone == undefined">
        <div class="weui-row">
            <div class="weui-col-100">
                <span>手 机 号 码 &nbsp;&nbsp;</span>
                <input type="text" name="phone" placeholder="填写您的手机号码"
                       style="text-align: center; width: 50%;" ng-model="user.phone" required/>
            </div>
            <p class="red" ng-show="form.phone.$dirty && form.phone.$invalid">不能为空</p>
        </div>
        <div class="weui-row" style="margin-top: 5px;">
            <div class="weui-col-100">
                <p>
                    <span>短信验证码 &nbsp;&nbsp;</span>
                    <input type="text" placeholder="输入短信验证码" ng-model="user.verCode"
                           style="text-align: center; width: 25%;"/>
                    <input type="button" value="{{paracont}}" ng-click="sentMessage()"
                           ng-disabled="paraevent"
                           style="text-align: center; width: 25%;"/>
                </p>
            </div>
        </div>
    </div>
    <p style="margin-top: 10px">
        <input type="checkbox" checked ng-model="user.checkText"/>
        <span style="font-size: 10px; text-decoration: underline;" class="showAgreement">
                   我同意《帮瀛事业合伙人协议书》
                    </span>
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <a ng-click="subCase()" class="btn btn-primary btn-block">确定</a>
        </div>
    </div>
</form>
<div class="weui_panel weui_panel_access agreement" style="background: #ececec;">
    <div class="weui_panel_bd">
        <div class="weui-row">
            <div class="weui-col-10"></div>
            <div class="weui-col-80" style="text-align: left;">
                <a class="pull-right closeAgreement" style="color: #999; font-size: 20px; cursor: pointer">
                    &times;
                </a>
                <p>帮瀛法务机构</p>
                <p>事业合伙人合作协议</p>
                <p> 1、关于帮瀛法务机构及协议</p>
                <p>1.1
                    帮瀛网络科技（北京）股份有限公司（下称“帮瀛法务机构”）系国内首家集法务投融资、法务经纪与法务咨询于一体的综合型法务平台，主要接受客户委托，从事诉讼项目的投资、咨询和管理服务。</p>
                <p>1.2 符合帮瀛法务机构投资、咨询和管理的诉讼项目线索，称为“案源”。</p>
                <p>1.3
                    帮瀛法务机构事业合伙人合作协议（下称“本协议”）是用户与帮瀛法务机构之间的合作协议。如用户同意接受本协议的全部条款，则需要向帮瀛法务机构提供准确、详细的个人资料，如个人资料有变动，则需要及时更新。如因资料提供不准确或更新不及时，导致无法获得帮瀛法务机构提供的服务及支付费用时，帮瀛法务机构将不承担责任。</p>
                <p>1.4
                    因技术本身的局限性，帮瀛法务机构不能保证网站链接与其他电脑、手机等客户端的软硬件、系统完全兼容，如出现不兼容的情况，用户可将情况通知帮瀛法务机构，以获得技术支持；如无法解决问题，帮瀛法务机构将不承担责任。</p>
                <p>1.5 如因第三方机构基于法律、法规或政策的要求需要提前终止本协议，则帮瀛法务机构有权提前终止本协议，且不需要向用户承担责任。</p>
                <p>2、事业合伙人要求</p>
                <p>2.1有提供符合帮瀛法务机构收案条件的案源或有分享指定链接给案源持有人的分享行为；</p>
                <p> 2.2 认可帮瀛法务机构经营模式、理念和合作方式，并致力于和帮瀛法务机构共同推动国家法治建设；</p>
                <p>
                    2.3 有责任心和团队意识，能够成为客户与帮瀛法务机构沟通的桥梁，协助双方达成服务协议。
                </p>
                <p> 3、收案条件
                </p>
                <p> 3.1 客户对诉讼项目有遴选律师，管理律师及诉讼成本融资的需求。
                </p>
                <p> 3.2 民商事案件，主要包括不良资产处置、债权实现、企业（个人）应收账款清收，财产保险合同、买卖合同、建设工程合同、土地转让合同、公司股权纠纷等；
                </p>
                <p> 3.3 单个案件争议标的额超过500万元人民币。
                </p>
                <p> 3.4 拟起诉或正在诉讼过程中的案件，包含一审、二审、再审、执行期间内案件。
                </p>
                <p> 3.5 证据及财产线索比较清晰，证据材料可以及时提交。
                </p>
                <p> 3.6 客户诚实守信，有全权委托意向，提供的证据材料客观、真实、全面。
                </p>
                <p> 4、合作模式及合作级别
                </p>
                <p> 4.1
                    事业合伙人需积极配合帮瀛法务机构就案源展开沟通、对接、培育、谈判、签约等开发工作。当双方就案源项目建立合作关系时，帮瀛法务机构以合作奖励的形式向事业合伙人支付相关费用以示补贴。
                </p>
                <p> 4.2
                    事业合伙人有两种类型，一种为“案源型”事业合伙人，指向帮瀛法务机构直接提供案源的人员；一种为“分享型”事业合伙人，指未直接提供案源，只是分享帮瀛法务机构指定链接给社会广大人士的人员。
                </p>
                <p> 4.3
                    事业合伙人分为A、B、C、D级四个级别，其中，A—C级为“分享型”事业合伙人，D级为“案源型”事业合伙人。A、B、C根据与D之间分享链接来源的远近关系，获得相应的合作奖励费用，四级事业合伙人关系图如下：</p>
                <p class="text-center thumbnail" style="border: none; padding: 0">
                    <img src="images/agreement.png"/>
                </p>
                <p>5、合作奖励
                </p>
                <p>5.1 合作奖励结合“签约合同金额”及“级别”进行计算。“签约合同金额”以帮瀛法务机构审核数额为准，“级别”以与实际提供案源人员的链接来源远近程度为准。
                </p>
                <p>
                    5.2合作奖励分为前期奖励和后期奖励。前期奖励在帮瀛法务机构与客户签约后40日内予以支付（如签约后双方因各种原因于30日内解约，该笔费用不予支付）；后期奖励在帮瀛法务机构实际收取服务费后30日内予以支付。
                </p>
                <p>5.3 合作费用具体计算方式如下表所示：</p>
                <table width="100%" class="table-bordered" style="font-size: 10px; background: #eaeff7">
                    <tr>
                        <td>
                            签约合同金额（单笔）
                        </td>
                        <td>
                            A级（前期）推荐奖+（后期）推荐奖
                        </td>
                        <td>
                            B级（前期）推荐奖+（后期）推荐奖
                        </td>
                        <td>
                            C级（前期）推荐奖+（后期）推荐奖
                        </td>
                        <td>
                            D级（前期）签约奖+（后期）签约奖
                        </td>
                    </tr>
                    <tr>
                        <td>500万≤X≤1000万</td>
                        <td>120元+0.3%*帮瀛收益</td>
                        <td>280元+0.7%*帮瀛收益</td>
                        <td>400元+1%*帮瀛收益</td>
                        <td>1888元+（12%*帮瀛收益-1888元）</td>
                    </tr>
                    <tr>
                        <td>1000万＜X≤5000万</td>
                        <td>240元+0.3%*帮瀛收益</td>
                        <td>560元+0.7%*帮瀛收益</td>
                        <td>800元+1%*帮瀛收益</td>
                        <td>3888元+（12%*帮瀛收益-3888元）</td>
                    </tr>
                    <tr>
                        <td>5000万＜X≤1亿</td>
                        <td>360元+0.3%*帮瀛收益</td>
                        <td>840元+0.7%*帮瀛收益</td>
                        <td>1200元+1%帮瀛收益</td>
                        <td>6888元+（12%*帮瀛收益-6888元）</td>
                    </tr>
                    <tr>
                        <td>1亿＜X≤2亿</td>
                        <td>500元+0.3%*帮瀛收益</td>
                        <td>1100元+0.7%帮瀛收益</td>
                        <td>1600元+1%帮瀛收益</td>
                        <td>8888元+（12%*帮瀛收益-8888元）</td>
                    </tr>
                    <tr>
                        <td>2亿＜X≤5亿</td>
                        <td>700元+0.3%*帮瀛收益</td>
                        <td>1600元+0.7%*帮瀛收益</td>
                        <td>2300元+1%帮瀛收益</td>
                        <td>16666元+（13%*帮瀛收益-16666元）</td>
                    </tr>
                    <tr>
                        <td>5亿＜X≤10亿</td>
                        <td>1000元+0.3%*帮瀛收益</td>
                        <td>2500元+0.7%*帮瀛收益</td>
                        <td>3500元+1%帮瀛收益</td>
                        <td>26666元+（14%*帮瀛收益-26666元）</td>
                    </tr>
                    <tr>
                        <td>X>10亿</td>
                        <td>1500元+0.3%*帮瀛收益</td>
                        <td>3700元+0.7%*帮瀛收益</td>
                        <td>5300元+1%帮瀛收益</td>
                        <td>36666元+（15%*帮瀛收益-36666元）</td>
                    </tr>
                </table>
                <p>
                    说明：事业合伙人分为A、B、C、D四级，如您为“案源型”事业合伙人（即D级），可以获得如上图所示合作费用；如您为“分享型”事业合伙人（即A、B、C级），则通过您与D之间分享链接来源的远近关系，可获得120元-5300元不等的前期固定奖励及后期帮瀛收益的1%、0.7%、0.3%作为奖励，与D链接来源关系越近，奖励费用越高，反之越低。通过您的转发，共计最多3级朋友都可获得相应奖励。
                </p>
                <p>6、合作期间
                </p>
                <p>
                    本协议有效期间至2016年12月31日，2016年12月31日之前签约项目未执行完毕的，直至案件执行完结后本协议终止；2016年12月31日之后签约案件，不再执行本协议，如帮瀛法务机构有后续政策，届时另行通知相关事业合伙人。
                </p>
                <p>7、协议修改与解释权
                </p>
                <p>
                    本协议的最终修改权归帮瀛法务机构。本协议条款一旦发生变动，帮瀛法务机构将会在相关页面上提示变更内容，而不另行向用户进行个别通知。修改后的合作协议一旦在页面上公布即有效代替原来的合作协议。用户可定期查阅最新合作协议。如用户不同意帮瀛法务机构对本协议所作的任何变更，用户应立即停止与帮瀛法务机构的合作。如果用户在本协议变更后仍选择与帮瀛法务机构合作，即视为用户已完全同意变更后的合作协议。
                </p>
                <p>本协议的最终解释权归帮瀛法务机构。</p>
                <p class="text-right">发布日期：2016年8月2日</p>

            </div>
            <div class="weui-col-10"></div>
        </div>
        <br/>
    </div>
</div>